/** {
  max-width: 600px;
}
*/

@import './fonts.css';

#parent:not(#banner) {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
}

#banner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center; 
  width: 100%;
  background-color: rgb(192, 192, 192);
  font-family: 'Caecilia', serif;
  font-weight: 700;
  font-size: 1.5em;
  padding: 15.5px 20px;
  color: #333;
  box-sizing: border-box;
}

#banner * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  vertical-align: middle;
}

#banner-right, #banner-left{
  display: flex;
  align-items: center;
  gap: 15px;
}

#banner-left{
  flex-shrink: 0;
}
#banner-center {
  flex-grow: 1;
}

#banner-right{
  justify-content: flex-end;
}

.banner-text{
  transform: translateY(2px);
  line-height: 1;
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.banner-icon{
  height: 34px;
  width: 34px;
  border: none;
  background-color: transparent;
}

@keyframes spinOnce {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spinOnce 0.5s ease;
}

.circular{
  border-radius: 50%;
}

.category-nav-container{
  margin: 0;
  padding: 8px 0;
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
}

#sales-category-filter {
  background-color: #e4e4e4;
  border-radius: 9999px;
  display: inline-flex;
  border: 1px solid #acacac;
}

#sales-category-filter .MuiToggleButton-root {
  border: none;
  border-radius: 9999px;
  padding: 4px 32px;
  font-size: 1.3em;
  font-family: 'Apercu', san-serif;
  color: #333;
  text-transform: none;
  background: transparent;
  transition: background 0.5s ease;
}

#sales-category-filter .MuiToggleButton-root.Mui-selected {
  background-color: #acacac;
  color: #333;
}

#sales-category-filter .MuiToggleButton-root:hover {
  background-color: #c9c9c9;
  transition: background 0.5s ease;
}

#sales-data-filter {
  margin: 0;
  padding: 8px 0;
  width: 100%;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
}


.MuiTableContainer-root {
  margin-top: 1rem;
  overflow-x: auto;
}

@media screen and (max-width: 600px) {
  .MuiTableCell-root {
    padding: 8px;
  }
  
  .MuiTableCell-root:first-child {
    padding-left: 16px;
  }
  
  .MuiTableCell-root:last-child {
    padding-right: 16px;
  }
}